<div
  id="create-group-form-container"
  style="
    display: none;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 18px;
    padding-bottom: 0;
    background-color: #d1f0ff;
  "
>
  <b>Create a new group</b>
  <form>
    <input
      class="name ember-text-field"
      style="padding: 5px;"
      value=""
      placeholder="Group">
    <input
      class="description ember-text-field"
      style="padding: 5px; width: 50%;"
      value=""
      placeholder="Description">
    <input type='color' name='color' />
    <button
      type="button"
      class="btn btn-primary create"
      style="margin-top: 10px;"
    >Create</button>
  </form>
</div>